[Unit]
Description=SSH Piper
After=network.target

[Service]
Type=simple
Restart=always
EnvironmentFile=/etc/default/sshpiper
ExecStart=/usr/local/bin/sshpiper /usr/local/bin/sshpiperd-atlas

[Install]
WantedBy=multi-user.target
